Real-time Weather Updates
City or Location Input
Forecast Section
Temperature Readings
Weather Icons
Wind Speed Information
Humidity Levels
Sunrise and Sunset Timings
User-friendly Interface
Search Functionality
Todays highlights
Weekly forecast
